
.error {
  margin-top: 100px;
  color: rgb(6, 5, 5);
  text-align: center;
  margin-top: 6rem;
  font-size: 30px;
}

.loading {
  margin-top: 100px;
  color: rgb(7, 7, 8);
  text-align: center;
  margin-top: 6rem;
  font-size: 30px;
}