.cartContainer {
  padding: 2rem;
 max-width: 99%;
 display: flex;
 flex-direction: column;
 width: 59rem;
}

.emptyCart {
  text-align: center;
  font-size: 1.5rem;
  color: gray;
}

.button {
  width: 9rem;
  margin: 1rem;
}
