.container {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image {
  width: 13rem;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.info {
  align-self: center;
  margin: 0.5rem 0;
  p {
    margin: 0.5rem;
  }
}

@media (min-width: 735px) {
  .container {
    width: 50%;
  }
  .info {
    width: 41%;
  }
}