:root {
  --font-family: Georgia, serif;
  --font-size-base: 23px; /* Basstorlek för text */
}

body{
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background: rgb(103,165,166);
  background: linear-gradient(90deg, rgba(103,165,166,1) 23%, rgba(246,0,0,1) 100%);
  margin: 0 0 4rem 0;
}

main {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  justify-content: center;
}


@media (min-width: 1024px) {
  :root {
    --font-size-base: 25px;
  }
}